/*
  input boxes
  buttons
*/
body{
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c1c1c;
  color: #d5d5d5;
}
#header{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo, #userName{
  margin: 15px;
}
#logo{
  font-family: 'Pacifico',fantasy;
  font-size: 2em;
  font-weight: 900;
}
#userName{
  font-family: 'Arial';
  text-decoration: underline;
}
#content{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 86, 101);
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  opacity: 0.9;
}


#slogan{
  height: 2em;
  color: white;
  font-family: "Lato", sans-serif;
  font-size:2em;
  text-shadow: 1px 2px 4px rgba(0,0,0,.5);
  display:flex;
  flex-direction: row;
  align-items: center;
}

#searchbar{
  height: 1.75em;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-align: center;
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: rgb(115, 110, 110);
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 12px;
}
#input-search{
  height: 100%;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  border: none;
  font-family: "Lato", sans-serif;
  font-size:16px;
  font-weight: lighter;
}
#btn-search{
  height: 100%;
  border: none;
  border-radius: 0 12px 12px 0;
  background:red;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;

}
